body {
    margin: 30px;
    font-family: Oswald, sans-serif;
    font-size: 1.5rem;
    color: #F4F4F4;
    background-color: #222;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 200;
}

.linha {
    display: flex;
}